<div class="top"></div>


<%= form_tag '/map', :remote => true do %>

  <%= submit_tag 'press' %>
  <% end %>

<div id="selection"></div>


<%= button_tag 'Get Map Data' %>
<div id="yoo">++++++</div>
<div id='mapgraph'></div>